<!-- Stats Display -->
<div *ngIf="!editMode && stat" class="stat-display">
  <div> 
    <div>  
      <li>Frame ID {{ stat.warframeid }}</li>
      <br>
      <li>Mastery Rank {{ stat.mastery }}</li>
      <br>
      <li>Health</li>
      <p><ngb-progressbar type="danger" [value]="stat.health" [max]="500">{{ stat.health }}</ngb-progressbar></p>
      <li>Shield</li>
      <p><ngb-progressbar type="success" [value]="stat.shield" [max]="500">{{ stat.shield }}</ngb-progressbar></p>
      <li>Armor</li>
      <p><ngb-progressbar type="warning" [value]="stat.armor" [max]="500">{{ stat.armor }}</ngb-progressbar></p>
      <li>Energy</li>
      <p><ngb-progressbar type="primary" [value]="stat.shield" [max]="500">{{ stat.shield }}</ngb-progressbar></p>
      <li>Sprint Speed</li>
      <p>{{ stat.sprintspeed }}</p>
    </div>
  </div>
  <div style="height: 3rem" class="align-top">
    <button class="btn btn-primary btn-sm" (click)="toggleEdit()">Edit</button>
    <!-- <button class="btn btn-danger btn-sm">Delete</button> -->
  </div>
</div>

<!-- Edit Stats Form -->
<div *ngIf="editMode && stat" class="edit-stats">
  <div>

    <label>Frame ID {{ stat.warframeid }}</label>
  
    <br>
    <label for="mastery">Mastery Rank</label>
    <input type="number" min="0" max="30" id="mastery" class="form-control" [(ngModel)]="stat.mastery" placeholder="Mastery" />
      
    <label for="health">Health</label>
    <input type="number" id="health" class="form-control" [(ngModel)]="stat.health" placeholder="Health" required />
      
    <label for="shield">Shield</label>
    <input type="number" id="shield" class="form-control" [(ngModel)]="stat.shield" placeholder="Shield" required />
      
    <label for="armor">Armor</label>
    <input type="number" id="armor" class="form-control" [(ngModel)]="stat.armor" placeholder="Armor" required />
      
    <label for="energy">Energy</label>
    <input type="number" id="energy" class="form-control" [(ngModel)]="stat.energy" placeholder="Energy" required />
      
    <label for="sprint">Sprint Speed</label>
    <input type="number" step=".05" min="1" max="3" id="sprint" class="form-control" [(ngModel)]="stat.sprintspeed" placeholder="Sprint Speed" required />
      
    <!-- <label for="frameid">Frame ID</label>
    <input type="number" id="frameid" class="form-control" [(ngModel)]="stat.warframeid" placeholder="FrameID" required />
       -->
  </div>

  <div style="height: 3rem" class="align-top">
    <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
    <!-- <button class="btn btn-danger btn-sm" (click)="delete()">Delete</button> -->
    <button class="btn btn-info btn-sm" (click)="toggleEdit()">Cancel</button>
  </div>
</div>

<!-- No Stats Yet -->
<div class="no-stat" *ngIf="!stat">
  <div class="create-stats">
      <h2 for="name">No Stats Yet</h2>
      <button class="btn-primary btn-sm" (click)="create()">Create</button>
  </div>
</div>