<div class="row">
  <!-- Stat display -->
  <div class="col-md-4 rounded bg-light border border-dark" *ngIf="!isVisible">
    <h2 *ngIf="this.warframe">
      <h2>
        <strong>{{ warframe.name }}</strong>
      </h2>
      <ul>
        <li>Mastery Rank</li>
        <li>Health</li>
        <li>Shield</li>
        <li>Armor</li>
        <li>Energy</li>
        <li>Sprint Speed</li>
        <li>Polarities</li>
      </ul>
    </h2>
    <div style="height: 3rem" class="align-top">
      <button class="btn btn-primary btn-sm" (click)="toggleEdit()">
        Edit
      </button>
      <!-- <button class="btn btn-danger btn-sm">Delete</button> -->
      <button class="btn btn-info btn-sm" (click)="backToWarframes()">
        Cancel
      </button>
    </div>
  </div>

  <!-- Edit stats form -->
  <div class="col-md-4 rounded bg-light border border-dark" *ngIf="isVisible">
    <h2 *ngIf="this.warframe">
      <h4><strong>Edit Stats</strong></h4>

      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="warframe.name" placeholder="Warframe" required />

      <label for="mastery">Mastery Rank</label>
      <label for="mastery">0</label>
      <input type="range" min="0" max="30" id="mastery" class="custom-range" placeholder="0" />
    </h2>
    <div style="height: 3rem" class="align-top">
      <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
      <!-- <button class="btn btn-danger btn-sm" (click)="delete()">Delete</button> -->
      <button class="btn btn-info btn-sm" (click)="backToWarframes()">
        Cancel
      </button>
    </div>
  </div>
</div>
