<div style="height: 3rem" class="align-bottom">
    <button class="btn btn-info btn-sm" (click)="backToWarframes()">Cancel</button>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <app-warframe-stats></app-warframe-stats>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <app-warframe-details></app-warframe-details>
            </div>
        </div>
    </div>
</div>
    

  