<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">

                <!-- Name Creation -->
                <div *ngIf="this.warframe.id === 0" class="create-warframe">
                    <h2 for="name">New Warframe</h2>
                    <form>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Enter Name" [(ngModel)]="warframe.name" name="name">
                        </mat-form-field>
                        <mat-slide-toggle class="prime-toggle" [(ngModel)]="warframe.prime" name="prime" (click)="togglePrime()">Prime</mat-slide-toggle>
                        <!-- <input type="number" min="0" max="1" name="prime" required id="prime" class="form-control" placeholder="Prime" [(ngModel)]="warframe.prime"/> -->
                        <button class="btn btn-primary btn-sm" (click)="create()">Save</button>
                    </form>
                </div>

                <div *ngIf="this.warframe.id !== 0" class="warframe-exists">
                    <!-- Name Display -->
                    <div *ngIf="!editMode" class="display-warframe">
                        <h2>{{ warframe.name }}</h2> 
                        <h3>Prime? {{ warframe.prime }}</h3> 
                        <button class="btn btn-primary btn-sm" (click)="toggleEdit()">Edit Name</button>
                    </div>
    
                    <!-- Edit Name -->
                    <div *ngIf="editMode" class="edit-warframe">
                        <h2 for="name">Edit Warframe</h2>
                        <form>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Edit Name" [(ngModel)]="warframe.name" name="name">
                            </mat-form-field>
                            <mat-slide-toggle class="prime-toggle" [(ngModel)]="warframe.prime" name="prime" (click)="togglePrime()">Prime</mat-slide-toggle>
                            <!-- <input type="number" min="0" max="1" name="prime" required id="prime" class="form-control" placeholder="Prime" [(ngModel)]="warframe.prime"/> -->
                            <br>
                            <button class="btn btn-primary btn-sm" (click)="update()">Save</button>
                            <button class="btn btn-danger btn-sm" (click)="toggleEdit()">Cancel</button>
                        </form>
                    </div>
    
                    <div class="stat-details">
                        <app-warframe-stats [warframeId]="warframe.id"></app-warframe-stats>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <!-- <app-warframe-details></app-warframe-details> -->
            </div>
        </div>
    </div>
</div>

<div style="height: 3rem" class="align-bottom">
    <button class="btn btn-danger btn-sm" (click)="backToWarframes()">Cancel</button>
</div>