<div class="row">
    <div class="col-md-4">
        <h2 *ngIf="this.warframe">
            <h4><strong>Details</strong></h4>

            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="warframe.name" placeholder="Warframe">

        </h2>
    </div>
</div>

<button class="btn btn-primary btn-sm" (click)="save()">Save</button>
<button class="btn btn-danger btn-sm">Delete</button>
<button class="btn btn-info btn-sm" (click)="backToStats()">Cancel</button>