<div class="row header-row">
    <div class="header-row">
        <h2><strong>Warframes</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3" *ngFor="let warframe of warframes" (click)="goToWarframe(warframe)">
        <div class="card" style="width: 15rem;" [style.cursor]="'pointer'">
            <img class="card-img-top" src="/assets/images/temp_img.png" alt="Image of {{warframe.Name}}">
            <div class="card-body">
                <h5 class="card-title">{{warframe.name}}</h5>
                <p class="card-text">Sample text</p>
            </div>
        </div>
    </div>
</div>

<br>
<button class="btn btn-primary btn-sm" (click)=goToAdd()>Add New</button>
<!-- <button class="btn btn-danger btn-sm">Delete</button> -->
<!-- <button class="btn btn-info btn-sm" (click)=goSyncData()>Sync Data</button> -->