<h1>Home</h1>
<br><hr>
<h2>Latest Updates</h2>

<mat-tab-group>
  <mat-tab label="PC">
<mat-expansion-panel style="background-color: gray;">
  <mat-expansion-panel-header>
    <mat-panel-title>
      PC Hotfix 24.2.3
    </mat-panel-title>
    <mat-panel-description>
      Release Date
    </mat-panel-description>
  </mat-expansion-panel-header>

<p>Patch notes here</p>

</mat-expansion-panel>

  <mat-expansion-panel style="background-color: lightblue;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        PS4 Update 24.0
      </mat-panel-title>
      <mat-panel-description>
        Release Date
      </mat-panel-description>
    </mat-expansion-panel-header>
  
  <p>Patch notes here</p>
  
  </mat-expansion-panel>

  <mat-expansion-panel style="background-color: lightgreen;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          XB1 Update 24.0
        </mat-panel-title>
        <mat-panel-description>
          Release Date
        </mat-panel-description>
      </mat-expansion-panel-header>
    
    <p>Patch notes here</p>
    
    </mat-expansion-panel>

    <mat-expansion-panel style="background-color: pink;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            NSW Update 23.5
          </mat-panel-title>
          <mat-panel-description>
            Release Date
          </mat-panel-description>
        </mat-expansion-panel-header>
      
      <p>Patch notes here</p>
      
      </mat-expansion-panel>
    </mat-tab>

        <mat-tab label="PS4">
        <mat-expansion-panel style="background-color: gray;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              PC Hotfix 24.2.3
            </mat-panel-title>
            <mat-panel-description>
              Release Date
            </mat-panel-description>
          </mat-expansion-panel-header>
        
        <p>Patch notes here</p>
        
        </mat-expansion-panel>
        
          <mat-expansion-panel style="background-color: lightblue;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                PS4 Update 24.0
              </mat-panel-title>
              <mat-panel-description>
                Release Date
              </mat-panel-description>
            </mat-expansion-panel-header>
          
          <p>Patch notes here</p>
          
          </mat-expansion-panel>
        
          <mat-expansion-panel style="background-color: lightgreen;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  XB1 Update 24.0
                </mat-panel-title>
                <mat-panel-description>
                  Release Date
                </mat-panel-description>
              </mat-expansion-panel-header>
            
            <p>Patch notes here</p>
            
            </mat-expansion-panel>
        
            <mat-expansion-panel style="background-color: pink;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    NSW Update 23.5
                  </mat-panel-title>
                  <mat-panel-description>
                    Release Date
                  </mat-panel-description>
                </mat-expansion-panel-header>
              
              <p>Patch notes here</p>
              
              </mat-expansion-panel>
    </mat-tab>
</mat-tab-group>